@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

$primary-color: #1019bd;
$secondary-color: #be2edd;

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

html {
  scroll-behavior: smooth;
  
}
* {
  box-sizing: border-box;
 
}


body {
  font-family: "Lato", sans-serif;
  margin: 0;
  background-image: url('pics/space.jpg');
  color: white;
  text-align: center
  
}
a {
  color: white;
  text-decoration: none;

}

p {
  font-size: 1.2rem;
}
h2 {
  font-size: 2rem;
  font-weight: 900;
  }
  h3 {
    font-size: 1.5rem;
  }

header {
  
  text-align: center;

 padding-top:10rem;
 img {
  width: 80%;
}
  
}




.container {
  padding: 15px;
  margin: 0 auto;
  max-width: 100%;
 
 height: 5500px;
  display: flex;
  flex-direction: column;
  justify-content: end;

  

}

h1 {
  margin-top: 70rem;

  font-size: 3rem;
 background: url(https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA17669.width-1024.jpg);
 background-position: center;
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text;
 background-clip: text;
}
.video {
  display: flex;
  justify-content: space-around;
 
  padding: 3rem;
  // transform: translateX(-100%) rotateY(50deg);
  perspective: 1000px;
#video1 {
  margin: 2rem;
  z-index: 200;
  border: 5px solid white;
  border-radius: 5px;
box-shadow: 10px 10px 10px 10px 10px white;
cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;

  transform:  rotateY(60deg);
  }
  #video2 {
    margin: 2rem;
    z-index: 200;
    border: 5px solid white;
    border-radius: 5px;
  box-shadow: 10px 10px 10px 10px 10px white;
  cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center left;
    transition: transform 1s;
    
    transform: translateX(10rem) rotateY(-70deg)

  }
}









footer {
  margin: 2rem;
  display: flex;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.77);
  padding: 1rem;

  .social {
    display: flex;
    justify-content: space-around;
   
    
  }
}

@media (min-width: 900px) {
 
  .video { #video1 {
  transform: translateX(-25%) rotateY(70deg);
   }
   #video2 {
    transform: translateX(0%) translateY(-50%)rotateY(-70deg)
   }}
  
  header {
    img {
      width: 70%;
    }
  }
 
  h1 {
    font-size: 4rem;
  }
  .video {
   
    margin: 1rem;
    }
 .social {
  font-size: 2rem;}
  }
