@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  background-image: url("pics/space.jpg");
  color: white;
  text-align: center;
}

p {
  font-size: 1.2rem;
}

h2 {
  font-size: 3rem;
  background: url(https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA17669.width-1024.jpg);
  background-position: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

a {
  color: #07d007;
  font-size: 3rem;
  text-decoration: none;
}

header {
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

.headernft {
  text-align: end;
  padding: 2rem;
}

.container {
  padding: 15px;
  margin: 0 auto;
  max-width: 100%;
  height: 5500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.nftcontainer {
  margin: 0 auto;
  max-width: 100%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

h1 {
  font-size: 10rem;
  background: url(https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA17669.width-1024.jpg);
  background-position: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.chart {
  margin: 2rem;
  z-index: 200;
  -webkit-box-shadow: 10px 10px 10px 10px 10px white;
          box-shadow: 10px 10px 10px 10px 10px white;
  -webkit-transform: translateY(-100%) translateX(120%);
          transform: translateY(-100%) translateX(120%);
  cursor: pointer;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 3rem;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.video #video1 {
  margin: 2rem;
  z-index: 200;
  border: 5px solid white;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 10px 10px 10px white;
          box-shadow: 10px 10px 10px 10px 10px white;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: center right;
          transform-origin: center right;
  -webkit-transform: rotateY(60deg);
          transform: rotateY(60deg);
}

.video #video2 {
  margin: 2rem;
  z-index: 200;
  border: 5px solid white;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 10px 10px 10px white;
          box-shadow: 10px 10px 10px 10px 10px white;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: center left;
          transform-origin: center left;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: translateX(10rem) rotateY(-70deg);
          transform: translateX(10rem) rotateY(-70deg);
}

footer {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: rgba(0, 0, 0, 0.77);
  padding: 1rem;
}

footer a {
  color: white;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 900px) {
  .video #video1 {
    -webkit-transform: translateX(-25%) rotateY(70deg);
            transform: translateX(-25%) rotateY(70deg);
  }
  .video #video2 {
    -webkit-transform: translateX(0%) translateY(-50%) rotateY(-70deg);
            transform: translateX(0%) translateY(-50%) rotateY(-70deg);
  }
  h1 {
    font-size: 4rem;
  }
  .video {
    margin: 1rem;
  }
  .social {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */